{% extends 'base.html' %}

{% block content %}
<head>
    <title>Update Pet</title>
</head>
<h1>Update Form</h1>
<div class="align_form">
<form action="/pets/{{pet.id}}" method="post">
    <div>
        <p>Current Owner: {{pet.owner.owner_firstname}} {{pet.owner.owner_surname}}</p>
    </div>

    <div class=>
        <label for="owner_id">Change Owner:</label>
        <select name="owner_id" value = {{pet.owner_id}} id = owner_id>
        {% for owner in owners %}
        <option value= "{{ owner.id }}">{{ owner.owner_firstname }} {{ owner.owner_surname }}</option>
        {% endfor %}
        </select><br><br>
    </div>


    <div>
        <label for="pet_name">Pet Name:</label><br>
        <input type="text" name = pet_name value = "{{pet.pet_name}}" id = pet_name class="client_input"> 
        <br><br>
    </div>

    <div>
        <label for="date_of_birth">Date of birth:</label><br>
        <input type="text" name = date_of_birth value = "{{pet.date_of_birth}}" id = date_of_birth class="client_input">
        <br><br>
    </div>    

    <div>
        <label for="pet_type">Type:</label><br>
        <input type="text" name=pet_type value = "{{pet.pet_type}}" id = pet_type class="client_input">
        <br><br>
    </div>

    <div>
        <label for="breed">Breed:</label><br>
        <input type="text" name = breed value = "{{pet.breed}}" id = breed class="client_input"> 
        <br><br>
    </div>

    <div>
        <label for="vet_id">Vet:</label>
        <select name="vet_id" value = {{pet.vet_id}} id = vet_id>
        {% for vet in vets %}
        <option value= "{{ vet.id }}">{{ vet.firstname }} {{ vet.surname }}</option>
        {% endfor %}
        </select>
        <br><br>
    </div>

</div>
<div class="treatment_notes">
    <div>
        <label for="treatment_notes">Treatment Notes</label> <br>
        <textarea name="treatment_notes" value = "{{pet.treatment_notes}}" id = treatment_notes cols="90" rows="15">{{pet.treatment_notes}}</textarea>
        <br><br>
    </div>

    
    <button type="submit">Update</button>
    <br><br><br>
</form>

<form class="delete-form" action="/pets/{{pet.id}}/delete" method="POST">
    <button type="submit" onclick="return confirm('Are you sure you want to delete this pet?');">DELETE</button>
</form>
</div>
</div>


{% endblock %}
