{% extends 'base.html' %}

{% block content %}
<p>If owner is not currently registered, please fill in form: <a href="/owners/new"><button>Register Client</button></a></p>

<h1>Register Pet</h1>

<form action="/pets/new" method="post">
    
    <label for="owner_id">Owner:</label>
    <select name="owner_id" id="owner_id">
      {% for owner in owners %}
      <option value="{{ owner.id }}">{{ owner.owner_firstname }} {{ owner.owner_surname }}</option>
      {% endfor %}
    </select><br><br>

    <label for="pet_name">Enter pet name:</label>
    <input type="text" name = pet_name id = pet_name> <br><br>

    <label for="date_of_birth">Enter date of birth(if known):</label>
    <input type="text" name = date_of_birth id = date_of_birth> <br><br>

    <label for="pet_type">Type:</label>
    <input type="text" name=pet_type id = pet_type> <br><br>
    
    <label for="breed">Breed:</label>
    <input type="text" name = breed id = breed> <br><br>

    <label for="vet_id">Choose Vet:</label>
    <select name="vet_id" id="vet_id">
      {% for vet in vets %}
      <option value="{{ vet.id }}">{{ vet.firstname }} {{ vet.surname }}</option>
      {% endfor %}
    </select><br><br>
  
    <label for="treatment_notes">Treatment Notes</label> <br>
    <textarea name="treatment_notes" id="treatment_notes" cols="30" rows="10"></textarea>
    <input class="btn btn--action" type='submit' value="Submit">
</form>

{% endblock %}