{% extends 'base.html' %}

{% block content %}
<h1>Vet Edit Form</h1>

<form action="/vets/{{vet.id}}" method="post"> 

    <div>
        <label for="firstname">First Name:</label> <br>
        <input type="text" name = firstname value = "{{vet.firstname}}" id = "firstname" class="client_input"> 
        <br><br>
    </div>

    <div>
        <label for="surname">Surname(s):</label><br>
        <input type="text" name = surname value = "{{vet.surname}}" id = surname class="client_input">
        <br><br>
    </div>    

    <div>
        <label for="email">Address:</label><br>
        <input type="text" name=email value = "{{vet.email}}" id = email class="client_input">
        <br><br>
    </div>

    <div>
        <label for="phone">Phone:</label><br>
        <input type="text" name = phone value = "{{vet.phone}}" id = phone class="client_input"> 
        <br><br>
    </div>
    
    <button type="submit">Submit</button>
    <br><br><br>
</form>


{% endblock %}