{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vets</title>
</head>
<body>
    <h1>Our Vets</h1>
    {% for vet in vets %}
    <li>
        <p>{{ vet.firstname}} {{vet.surname}}</p>
        <p>email: {{vet.email }}</p>
        <p>Phone: {{vet.phone }}</p>
        <p><a href="vets/{{ vet.id }}/edit"><button>Update</button></a></p>
    </li> <br>
    {% endfor %}
</body>
</html>

{% endblock %}