body {
    margin: 20px;
    background-image: url(https://www.westend61.de/images/0001430577pw/side-view-of-little-italian-greyhound-dog-in-studio-disguised-on-dark-background-dressed-ina-funny-costume-ADSF07691.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    font-family: georgia;
    font-size: 18px;
    color: white;
    }

.homepage {
    margin: 20px;
    background-image: url(https://www.westend61.de/images/0001430577pw/side-view-of-little-italian-greyhound-dog-in-studio-disguised-on-dark-background-dressed-ina-funny-costume-ADSF07691.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    font-family: georgia;
    font-size: 18px;
    color: white;
}

#titlebanner {
    color: blanchedalmond;
    font-size: 40px;
}

h1 {
    color: blanchedalmond;
}

p {
    color: blanchedalmond;
}

li {
    list-style: none;
}

.homelist {
    font-size: 30px;
    padding: 30px;
}

    