

body {
    margin: 40px;
    background-image: url(https://www.westend61.de/images/0001430577pw/side-view-of-little-italian-greyhound-dog-in-studio-disguised-on-dark-background-dressed-ina-funny-costume-ADSF07691.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    font-family: georgia;
    font-size: 18px;
    color: white;
    }

.homepage {
    margin: 20px;
    background-image: url(https://www.westend61.de/images/0001430577pw/side-view-of-little-italian-greyhound-dog-in-studio-disguised-on-dark-background-dressed-ina-funny-costume-ADSF07691.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    font-family: georgia;
    font-size: 18px;
    color: white;
}

.base {
    list-style-type: none;
}

.base ul li a {
    color: white;
}

#titlebanner {
    color: blanchedalmond;
    font-size: 40px;
}

.navigation {
    display: inline;
    float: right;
    list-style-type: none;
}

.navigation a {
    text-decoration: none;
    text-align: right;
    padding: 20px;
}

h1 {
    color: blanchedalmond;
}


p {
    color: blanchedalmond;
}

li {
    list-style: none;
}

.homelist {
    font-size: 30px;
    padding: 50px;
}

.homelist a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.client_input {
    width: 35%;
    padding: 10px;
    margin-left: 10px;
}

.align_form {
    margin-left: 40px;
    margin-right: 100px;
}

.btn {
    margin-left: 32%;
}

.searchbar input {
    height: 30px;
    width: 500px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid goldenrod;
}

.searchbar button {
    width: 10%;
    height: 30px;
    font-size: 17px;
    /* border: 1px solid grey;
    border-left: none; Prevent double borders */
    cursor: pointer;
}

/* .one_pet { margin: 40px;
    background: black;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    font-family: georgia;
    font-size: 18px;
    color: white;
    padding-bottom: 100px;
} */

.treatment_notes {
    margin-left: 300px;
    margin-right: 300px;
}

.treatment_notes textarea {
    font-size: 17px;
    font-family: Georgia;
}

.treatment_notes p button {
    width: 10%;
    height: 30px;
    border: 2px;
    color: black;
    background-color: white;
}

.delete-form {
    text-align: center;
}





    