{% extends "base.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Client</title>
</head>
<body>

<h1>Register Client</h1>

<form action="/owners/new" method="post">
    
    <label for="owner_firstname">first name:</label><br>
    <input type="text" name = owner_firstname id = owner_firstname class="client_input"> <br><br>

    <label for="owner_surname">surname (inc. middle names):</label><br>
    <input type="text" name = owner_surname id = owner_surname class="client_input"> <br><br>

    <label for="owner_address">address:</label><br>
    <input type="text" name=owner_address id = owner_address class="client_input"> <br><br>
    
    <label for="owner_email">email:</label><br>
    <input type="text" name = owner_email id = owner_email class="client_input"> <br><br>

    <label for="owner_phone">phone:</label><br>
    <input type="text" name = owner_phone id = owner_phone class="client_input"> <br><br>
    <div>
        <input class="btn" type='submit' value="Submit">
    </div>
</form>

</body>

{% endblock %}