{% extends "base.html" %}
{% block content %}

  <div>
    <p>Name: {{ owner.owner_firstname }} {{owner.owner_surname}}</p>
    <p>Address: {{owner.owner_address }}</p>
    <p>Phone: {{ owner.owner_phone }}</p>
    <p>e-mail: {{ owner.owner_email }}</p>
    <p><a href="{{ owner.id }}/edit"><button>Edit</button></a></p>
    <br>
    <p>Registered Pets:</p>
    {% for pet in pets%}
        name: {{pet.pet_name}} <br>
        type: {{pet.pet_type}} <br>
        breed: {{pet.breed}} <br><br>
    {% endfor %}
  </div>

{% endblock %}

