<html>
    <head>
        
    </head>
        <title> {{ title }} </title>
        <body>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/owners/new">Register Client</a></li>
                <li><a href="/pets/new">Register Pet</a></li>
                <li><a href="/pets">Patient Index</a></li>
                <li><a href="/vets">Vet Contact Details</a></li>
            </ul>
            <hr>
            {% block content %}

            {% endblock %}
        </body>
</html>